.card {
  background-color: white;
  height: 35rem;
  max-width: 60rem;
  margin: 7rem auto;
  border-radius: 1.5rem;
  display: flex;
  &__composition {
    width: 100%;
    position: relative;
    &--1 {
      position: absolute;
      width: 100%;
    }
    &--2 {
      position: absolute;
      width:100%;
      top: 1rem;
    }
    &--3 {
      position: absolute;
    }
  }
}
