@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-mobile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shadow {
  0% {
    width: 333px;
  }
  50% {
    width: 350px;
  }
  100% {
    width: 333px;
  }
}
@keyframes shadow-mobile {
  0% {
    width: 15rem;
  }
  50% {
    width: 15.5rem;
  }
  100% {
    width: 15rem;
  }
}
.card {
  background-color: white;
  height: 35rem;
  max-width: 65rem;
  margin: auto;
  border-radius: 1.5rem;
  display: flex;
  box-shadow: var(--default-shadow);
  @media only screen and (max-width: 1200px) {
      flex-direction: column;
      width: 90%;
      text-align: center;
      height: auto;
      margin: 15rem auto;
    }
  &__composition {
    width: 100%;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 1200px) {
        height: 8rem;
    }
    &--insidecard {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @media only screen and (max-width: 1200px) {
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    }
    &--1 {
      position: absolute;
      width: 200%;
      left: -41rem;
      bottom: -10rem;
      @media only screen and (max-width: 1200px) {
          position: relative;
          left: 0;
          bottom: 0;
          width: 333px;
          margin-top: 0rem;
          animation: shadow 5s infinite;
          
        }
        @media only screen and (max-width: 400px) {
            width: 15rem;
            animation: shadow-mobile 5s infinite;
        }
    }
    &--2 {
        position: absolute;
        width: 100%;
        bottom: 5rem;
        left: -6rem;
        @media only screen and (max-width: 1200px) {
            position: relative;
            left: 0;
            bottom: 0;
            width: 333px;
            margin-top: -18.5rem;
            animation: bounce-mobile 5s infinite;
        }
        @media only screen and (max-width: 400px) {
            width: 15rem;
            margin-top: -13.5rem;
      }
    }
    &--3 {
      position: absolute;
      width: 15rem;
      top: 13rem;
      left: -10rem;
      animation: bounce 4s ease infinite;
    }
  }
}
