:root {
  // // Colors
  /// Primary
  //// Text

  --color-heading-dark: hsl(238, 29%, 16%);
  --color-heading: hsl(237, 12%, 33%);
  --color-text: hsl(240, 6%, 50%);

  // Links

  --color-accent: hsl(14, 88%, 65%);

  //// Gradient

  --gradient-top-right: hsl(273, 75%, 66%);
  --gradient-bottom-left: hsl(240, 73%, 65%);

  //// Dividers

  --color-gray-light: hsl(240, 5%, 91%);

  //// Box-Shadow
  --default-shadow : 0 1.5rem 3rem var(--color-heading);
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media only screen and (max-width:1200px) {
    display: block;
  }
}
